body{
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 20px;
	background-color: #f4f4f4;
	color: #333333;
}
h1{
	color: #0056b3;
	text-align: center;
	margin-bottom: 20px;
}
h2{
	color: #333333;
	border-bottom: 2px solid #0056b3;
	text-align: center;
}
p{
	line-height: 1.6;
}
ol, ul{
	margin-left: 20px;
	margin-bottom: 20;
}
li{
	margin-bottom: 5px;
}
ing{
	margin-right:15px ;
	border-radius: 5px;
}
a{
	colour: #0056b3;
	text-decoration: none;
}
a:hover{
	color: #003d80;
	text-decoration: underline;
}
table{
	margin-bottom: 20px;
	background-color: #ffffff;
}
th, td{
	padding: 15px;
	text-align: center;
	border-bottom: 1px solid #dddddd;
}
th{
	background-color: #0056;
	color: #ffffff;
}
video{
	display: block;
	margin: 0 auto;
	margin-bottom: 5px;
}
form{
	background-color: #ffffff;
	padding: 20px;
	border-radius: 10px;
	margin-bottom: 40px;
}
label{
	display: black;
	margin-bottom: 10px;
	font-weight: bold;
}
input, textarea{
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #dddddd ;
	border-radius: 5px;
	box-sizing: border-box;
}
button{
	background-color: #0056b3;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 20px;
	cursor: pointer;
	font-size: 16px;
}
button:hover{
	background-color: #003d80;
}